body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cornsilk;
}
#heading {
  margin-bottom: 40px;
}
#div {
  margin-bottom: 100px;
}
